/* Import block */


button[type="submit"] {
  padding: 10px;
  background-color: #68afd9;
  font: 400 14px/20px 'Lato', sans-serif;
  line-height: 20px;
  color: white;
  border-radius: 4px;
  transition: all 0.3s;
  line-height: 16px;
  text-align: center;
  margin: 10px auto;
  width: 100%;
  display: block;
  margin: 0 auto;
}

#table-works {
  width: 100%;
}

th {
  color: #ec8b44;
}

.works-resume {
  color: #337ab7;
}

#btn-return-profile {
  padding: 10px;
  background-color: #68afd9;
  font: 400 14px/20px 'Lato', sans-serif;
  line-height: 20px;
  color: white;
  border-radius: 4px;
  transition: all 0.3s;
  line-height: 16px;
  text-align: center;
  margin: 10px auto;
}

.orcid-no-results {
  text-align: center;
  padding-top: 30px;
}

.orcid-no-results a {
  padding: 10px;
  background-color: #68afd9;
  font: 400 14px/20px 'Lato', sans-serif;
  line-height: 20px;
  color: white;
  border-radius: 4px;
  transition: all 0.3s;
  line-height: 16px;
  text-align: center;
  margin: 10px auto;
  width: 30%;
  display: block;
}

.orcid-no-results a:hover {
  color: white;
}

/* Import form */

form#bibcite-import-orcid-import .form-item {
  position: relative;
}

form#bibcite-import-orcid-import div[class*="work-ignore"] {
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 10;
}
form#bibcite-import-orcid-import div[id*="work-authors"] {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
form#bibcite-import-orcid-import div[id*="work-authors"] .form-item {
  margin: 10px;
}
form#bibcite-import-orcid-import span.fieldset-legend {
  font-size: 12px;
  text-transform: uppercase;
  color: gray;
}
label.control-label.option strong {
  font-weight: bold;
  color: steelblue;
}
/* Disabled items on form */
.panel.disable {
  opacity: .3;
}
.panel.error {
  border: 1px solid red;
}
.panel.disable .panel-body {
  padding: 0;
}
.panel.disable .form-composite {
  display: none;
}
.ign_actions {
  display: flex;
  justify-content: flex-end;
}
.ign_actions a {
  padding: 10px;
  display: block;
  cursor: pointer;
  margin: 5px;
}
.panel-heading .panel-title {
  display: flex;
  align-items: center;
  gap: 3px;
}
.panel-heading .MathJax_Display {
  width: fit-content;
  display: inline-block;
}
.form-item .own {
  color: green;
}
.disable .own {
  display: none;
}
.block--orcidsyncbutton {
  display: flex;
  align-items: center;
  gap: 10px;
}
.block--orcidsyncbutton a {
  display: block;
  background-color: #095169;
  width: fit-content;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  border: none;
  font-weight: 300;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
}
.block--orcidsyncbutton a:hover {
  background-color: #0c0636;
  color: white;
}
