{% if import_uid is not empty and import_orcid_id is not empty %}
    {% if show_block == 1 %}
      {{ attach_library('bibcite_import_orcid/orcid-import-block') }}
      <a id="btn-import-from-orcid" class="button" href="/orcid-import/import" style="padding: 5px 10px; background-color: #68afd9; text-align: center; color:white;" title="Imports user data from ORCID">Import from ORCID User {{ import_orcid_id }}</a>
    {% endif %}
{% endif %}
